@import "tailwindcss";

@theme {
  --color-main: #0f172a;
  --color-secondary: #22d3ee;
  --color-darkBg: #030712;
  --color-accent: #f59e0b;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, monospace;
}


